body {
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.main {
    width: 643px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}
.photo {
    height: 100%;
}
.personal-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.name-and-surname-and-position {
    box-sizing: border-box;
    background-color: #192028;
    border-left: 2px solid #FFFFFF;
    border-top-right-radius: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-and-surname-and-position div {
    display: flex;
    align-items: center;
}
.name-and-surname-and-position p {
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}
.contact-and-address {
    background-color: #2B3944;
    border-top: 1px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}
.contact-and-address div{
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    margin: 0;
}
.contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 0 0 10px;
    width: 100%;
}
.name {
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
}
.surname {
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
}
#position {
    font-size: 25px;
    font-weight: 400;
    color: #6487A1;
    padding-top: 30px;
}